<!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-8 push-2 columns">
      
      <ul data-orbit>
        <li>
          <%= image_tag asset_path("MoneyT.jpg")%>
          <div class="orbit-caption">
            Simple and easy to use log application for either keeping track of money saved or money spent.
          </div>
        </li>
        <li>
          <%= image_tag asset_path("LickT.jpg")%>
          <div class="orbit-caption">
            Just enter a guitar riff and create the Tab in plain text, then you can copy the text, paste into notepad or email it to yourself and other band members
          </div>
        </li>
        <li>
          <%= image_tag asset_path("MoodC.jpg")%>
          <div class="orbit-caption">
            MoodCheck is a mood capturing and logging application. Use MoodCheck to see how you've been feeling over a period of time.
          </div>
        </li>
      </ul>
    </div>